<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4"></h1>
      <p class="lead"></p>
      <hr class="my-4">
      <p></p>
    </div>
</div>